WPF_Code_Challenge/Dolars_In_words/Dolars_In_words/Connected Services/ServiceReferenceClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceConvertToDollars" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceConvertToDollars_DollarsToWords_InputMessage">
    <wsdl:part name="parameters" element="tns:DollarsToWords" />
  </wsdl:message>
  <wsdl:message name="IServiceConvertToDollars_DollarsToWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DollarsToWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceConvertToDollars_ParsingTheString_InputMessage">
    <wsdl:part name="parameters" element="tns:ParsingTheString" />
  </wsdl:message>
  <wsdl:message name="IServiceConvertToDollars_ParsingTheString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParsingTheStringResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceConvertToDollars_Result_InputMessage">
    <wsdl:part name="parameters" element="tns:Result" />
  </wsdl:message>
  <wsdl:message name="IServiceConvertToDollars_Result_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceConvertToDollars">
    <wsdl:operation name="DollarsToWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConvertToDollars/DollarsToWords" message="tns:IServiceConvertToDollars_DollarsToWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConvertToDollars/DollarsToWordsResponse" message="tns:IServiceConvertToDollars_DollarsToWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParsingTheString">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConvertToDollars/ParsingTheString" message="tns:IServiceConvertToDollars_ParsingTheString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConvertToDollars/ParsingTheStringResponse" message="tns:IServiceConvertToDollars_ParsingTheString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Result">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConvertToDollars/Result" message="tns:IServiceConvertToDollars_Result_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConvertToDollars/ResultResponse" message="tns:IServiceConvertToDollars_Result_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceConvertToDollars" type="tns:IServiceConvertToDollars">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DollarsToWords">
      <soap:operation soapAction="http://tempuri.org/IServiceConvertToDollars/DollarsToWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParsingTheString">
      <soap:operation soapAction="http://tempuri.org/IServiceConvertToDollars/ParsingTheString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Result">
      <soap:operation soapAction="http://tempuri.org/IServiceConvertToDollars/Result" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceConvertToDollars">
    <wsdl:port name="BasicHttpBinding_IServiceConvertToDollars" binding="tns:BasicHttpBinding_IServiceConvertToDollars">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>