WPF_Code_Challenge/Dolars_In_words/Dolars_In_words/Connected Services/ServiceReferenceClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DollarsToWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dollars" type="xs:long" />
        <xs:element minOccurs="0" name="cents" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DollarsToWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DollarsToWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsingTheString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberFromUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dollarsConverted" type="xs:long" />
        <xs:element minOccurs="0" name="centsConverted" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsingTheStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dollarsConverted" type="xs:long" />
        <xs:element minOccurs="0" name="centsConverted" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>